<%= form_for @user do |f|  %>

    <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
        <h5>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            this User from being saved:
        </h5>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>


<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</p>

<p>
    <%= f.label :password %><br>
    <%= f.password_field :password, :autocomplete => 'on' %>
</p>

<p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, :autocomplete => 'on' %>
</p>

<p>
<%= f.label :department_name %><br>
<%= f.select(:department_id) do %>
    <% @departmentlist.each do |department| %>
        <%= content_tag(:option, department.name, value: department.id) %>
    <% end %>
<% end %>
</p>

<% if is_user_admin? %>
<p>
    <%= f.label :admin %>:
    <%= f.check_box :admin %>
</p>
<% end %>

<p>
    <%= f.submit class: "btn btn-primary" %>
</p>
<% end %>