<h1>HR Dashboard</h1>

<p>
<%= link_to 'View User List', users_path %> 
</p>

<p>
<%= link_to 'View Department List', departments_path %> 
</p>

<p>
<%= link_to 'View Unapproved Fitbit Data', fitbit_data_approval_list_user_path(current_user) %> 
</p>

<p>
<%= link_to 'View Approved Fitbit Data', fitbit_data_approved_list_user_path(current_user) %> 
</p>

<p>
<%= link_to 'View Disapproved Fitbit Data', fitbit_data_disapproved_list_user_path(current_user) %> 
</p>

<p>
<%= link_to 'Generate User Report', generate_report_user_path(current_user) %> 
</p>